<body>
   <h1>Recipes!!</h1>
  Recipe Name: <%= @recipe.name %>
  Ingredients: <%= @recipe.ingredients %>
  Cook Time: <%=@recipe.cook_time %>
</body>

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
